    {% extends "layout.html" %}
   
    {% block content %}

    <div class="container">
        <form name="register" action="/register" method="POST" novalidate>
            <fieldset class="form-group">
                <legend>{{ title }}</legend>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email}}
                    {% for err in form.email.errors %}
                        <span class="error-message">{{ err }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password}}
                    {% for err in form.password.errors %}
                        <span class="error-message">{{ err }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password_confirm.label }}<br>
                    {{ form.password_confirm}}
                    {% for err in form.password_confirm.errors %}
                        <span class="error-message">{{ err }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.fist_name.label }}<br>
                    {{ form.fist_name}}
                    {% for err in form.fist_name.errors %}
                        <span class="error-message">{{ err }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.last_name.label }}<br>
                    {{ form.last_name}}
                    {% for err in form.last_name.errors %}
                        <span class="error-message">{{ err }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.submit() }}
                </p>
            </fieldset>

        </form>
    </div>
    {% endblock %}